mat-card {
    padding: 1rem;
}
#bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.container {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}