* {
    font-family: "Andale Mono", sans-serif;
}
.submitted {
    color: green;
}
.unsubmitted {
    color: red;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.addBtn {
    align-self: center;
    margin-top: -20px;
    margin-bottom: 0.5rem;
}
mat-card {
    margin: 5px 0 5px 0;
    max-width: 400px;
    background-color:floralwhite;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
img {
    padding: 1rem;
}
mat-card-title, mat-card-subtitle {
    padding: 1rem;
}
.cardBox {
    margin-bottom: 0.5rem;
}

