.submitted {
    color: green;
}
.unsubmitted {
    color: red;
}
.mainFrame {
    margin: 1rem;
}
.container {
    display: flex;
    flex-direction: column;
}
.addBtn {
    align-self: flex-end;
    margin-top: -20px;
    margin-right: 1rem;
}
mat-card {
    margin: 5px 0 5px 0;
    max-width: 400px;
    background-color:floralwhite
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
img {
    padding: 1rem;
}
